---
import { getMenu } from "../../../lib/wix";
import type { Menu } from "../../../lib/wix/types";
import CartModal from "../../cart/cart-modal.astro";
import LogoSquare from "../../logo-square.astro";
import MobileMenu from "./mobile-menu.astro";

const menu = await getMenu("next-js-frontend-header-menu");

const { SITE_NAME } = import.meta.env;
---

<div class="fixed top-0 left-0 right-0 z-50 bg-white font-charm font-bold dark:bg-neutral-900 dark:text-white dark:selection:bg-pink-500 dark:selection:text-white shadow-sm">
<nav class="relative flex items-center justify-between p-4 lg:px-6">
  <div class="block flex-none md:hidden">
    <MobileMenu menu={menu} />
  </div>
  <div class="flex w-full items-center">
    <div class="flex w-full md:w-1/2">
      <a
        href="/"
        class="mr-2 flex w-full items-center justify-center md:w-auto lg:mr-6"
      >
        <LogoSquare />
        <div
          class="ml-2 flex-none text-sm font-medium uppercase md:hidden lg:block"
        >
          {SITE_NAME}
        </div>
      </a>
      {
        menu.length ? (
          <ul class="hidden gap-6 text-sm md:flex md:items-center">
            {menu.map((item: Menu) => item.ordre < 1000 ?
            (
              <li>
                <a
                  href={item.path}
                  // data-astro-prefetch
                  class="text-neutral-500 underline-offset-4 hover:text-black hover:underline dark:text-neutral-400 dark:hover:text-neutral-300"
                >
                  {item.title}
                </a>
              </li>
            ):null
            )}
          </ul>
        ) : null
      }
    </div>

    <div class="flex justify-end md:w-1/2">
      <CartModal />
    </div>
  </div>
</nav></div>
