---
import { ClientRouter } from "astro:transitions";
import Navbar from "./navbar/index.astro";
import "../../styles/global.css";
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ClientRouter />
  </head>
  <body
    class="bg-white text-black selection:bg-teal-300 dark:bg-neutral-900 dark:text-white dark:selection:bg-pink-500 dark:selection:text-white relative pt-[94px]"
  >
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
