---
import InstaLogo from "../icons/instagram.astro"
---

<a href="https://www.facebook.com/BijouxAlexYell" class="relative flex w-full items-center justify-center rounded-full bg-bay-accent p-4 tracking-wide text-white hover:opacity-90 hover:scale-105 transition duration-300 ease-in-out">
    <InstaLogo class="h-[60px] w-[60px] rounded-xl" />
    Instagram
</a>