---
import { getMenu } from "../lib/wix";
import type { Menu } from "../lib/wix/types";
import { getImageUrl } from "../lib/utils.ts";
import { sortingMenu } from "../lib/utils";

export const prerender = true

let menu: any[] = [];
try {
  menu = await getMenu("categoriesAccueil");
} catch (err) {
  console.error("ERROR fetching categories menu:", err);
}

const sortMenu = sortingMenu(menu || []);
---

{
  menu && (
    <section class="deferred-section mt-6 py-15 px-4">
      <h2 class="mb-2 ml-4 text-4xl font-bold text-bay-accent dark:text-bay-accent-light">
        Catégories
      </h2>
      <div class="w-full">
        <div class="w-full">
          {sortMenu.length ? (
            <ul class="gap-6 text-sm grid grid-flow-col grid-rows-2 md:grid-rows-1 md:items-center">
              {sortMenu.map((item: Menu) => (
                <li class="size-full">
                  <a
                    href={item.path}
                    class="group text-white underline-offset-4 text-xl font-bold transition duration-300 ease-in-out"
                  >
                    <div class="relative rounded-md overflow-hidden size-full">
                      <div class="size-full">
                        {item.image ? (
                          <img
                            class="size-full object-cover group-hover:scale-105 transition-transform duration-300"
                            src={getImageUrl(item.image)}
                            alt={`Vers la catégorie: ${item.title}`}
                            loading="lazy"
                            decoding="async"
                            fetchpriority="low"
                          />
                        ) : (
                          <div class="h-[150px] w-full bg-gray-300" />
                        )}
                      </div>
                      <div class="absolute inset-0 bg-gray-700 opacity-40" />
                      <div class="absolute inset-0 flex items-center justify-center">
                        <div class="text-center">{item.title}</div>
                      </div>
                    </div>
                  </a>
                </li>
              ))}
            </ul>
          ) : null}
        </div>
      </div>
    </section>
  )
}
