---
import { getHomeImages } from "../lib/wix/index";
import { getImageUrl } from "../lib/utils.ts";

let images: Awaited<ReturnType<typeof getHomeImages>> = [];
try {
  images = await getHomeImages();
} catch (err) {
  console.error("ERROR fetching home images:", err);
  images = [];
}

if (images?.length > 0) {
  images.sort(() => Math.random() - 0.5);
}

if (!images?.length) {
  console.log(
    'HOME-IMAGES: No images loaded - check if "images_accueil" data collection exists',
  );
  return null;
}
---

{
  images && (
    <div class="p-8">
      <h2 class="mb-2 ml-4 text-4xl font-bold text-bay-accent dark:text-white">
        Galerie Photo
      </h2>
      <p>Des créations uniques, désormais entre de bonnes mains</p>
      <div class="mx-auto container my-8 columns-2 sm:columns-4 md:columns-5 lg:columns-6 xl:columns-7 2xl:columns-8">
        {images.map((image) => (
          <img
            src={getImageUrl(image.url)}
            alt={image.altText}
            loading="lazy"
            class="mb-4 rounded-lg transition-all"
          />
        ))}
      </div>
    </div>
  )
}
