---
import Carousel from "../components/carousel.astro";
---

<section class="deferred-section py-15 pl-4">
  <h2
    class="mb-2 ml-4 pb-10 text-4xl font-bold text-bay-accent dark:text-bay-accent-light"
  >
    Nouveautés
  </h2>
  <Carousel />
</section>
