---
import Prose from "../components/prose.astro";
import { getPage } from "../lib/wix";
import type { Page } from "../lib/wix/types";

export const prerender = true

let page: Page | undefined;

try {
  page = await getPage("savoir-faire");
} catch (err) {
  console.error("Failed to load the savoir-faire section.", err);
}
---

{
  page && (
    <section class="deferred-section w-full py-20 px-4">
      <h2 class="mb-8 ml-4 text-4xl font-bold text-bay-accent-light">
        {page.title}
      </h2>
      <Prose class="mb-8 max-w-2xl sm:mx-auto" html={page.body} />
    </section>
  )
}
